[submodule "PortWINE"]
	path = PortWINE
	url = https://github.com/Castro-Fidel/PortWINE.git
[submodule "PortProton_PKGBUILD"]
	path = PortProton_PKGBUILD
	url = https://github.com/Castro-Fidel/PortProton_PKGBUILD.git
[submodule "openoffice-bin"]
	path = openoffice-bin
	url = https://aur.archlinux.org/openoffice-bin.git
[submodule "yandex-browser"]
	path = yandex-browser
	url = https://aur.archlinux.org/yandex-browser.git
[submodule "nvidia-vaapi-driver-git"]
	path = nvidia-vaapi-driver-git
	url = https://aur.archlinux.org/nvidia-vaapi-driver-git.git
