[submodule "PortWINE"]
	path = PortWINE
	url = https://github.com/Castro-Fidel/PortWINE.git
[submodule "PortProton_PKGBUILD"]
	path = PortProton_PKGBUILD
	url = https://github.com/Castro-Fidel/PortProton_PKGBUILD.git
[submodule "openoffice-bin"]
	path = openoffice-bin
	url = https://aur.archlinux.org/openoffice-bin.git
